body {
    color: #306ad6;
    background: #ffffff;
    text-align:center;
    
    
}
.tablewrapper {
    width: 95%;
    margin: 6rem auto;
    background: #fff;
    padding: 20px 30px 5px;
    margin:-5% auto;
    

}
.tablewrappe22 {
    width: 100%;
    margin: 6rem auto;
    background: #fff;
    padding: 20px 30px 5px;
    margin:-5% auto;
    

}
.tablewrapper1 {
    width:95%;
    margin: 6rem auto;
    background: #fff;
    padding: 20px 1px 2px;
    margin:-5% auto;
    text-align:center;

}

.tablewrapper2 {
    width: 99%;
    margin: 6rem auto;
    background: #fff;
    padding: 20px 1px 2px;
    margin:-5% auto;
    text-align:center;

}
.tablewrapper .btngroup {
    float: right;
}
.tabletitle .btn {
    min-width: 100%;
    border-radius: 1px;
    border: #000;
    padding: 6px 12px;
    font-size: 95%;
    outline: none !important;
    height: 30px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
}
.tabletitle {
    border-bottom: 1px solid #e9e9e9;
    padding-bottom: 12px;
    background: rgb(0, 50, 74);
    margin: -20px -31px 10px;
    padding: 15px 30px;
    color: #fff;
}
.tabletitle h2 {
    margin: 2px 0 0;
    font-size: 24px;
    text-align:center;
}
table.table tr th, table.table tr td {
    border-color: #e9e9e9;
    padding: 12px 20px;
    vertical-align: middle;
    font-size: 15px;
    text-align:center;
    
}
table.table tr th:first-child {
    width: 100px;
    text-align:center;
}
table.table tr th:last-child {
    width: 20px;
    text-align:center;
}
.table.table-striped.table-hover tbody tr:nth-last-of-type(odd) {
    background-color: #fcfcfc;
    text-align:center;
}
.tableHover tbody tr:hover {
    background: #3cd5f0;
    color:rgba(0, 0, 0, 0.7);
    text-align:center;
}
table.table td a {
    border: 1px solid black;
    color: #2196f3;
    text-align:center;
}
table.table td .btn.manage {
    padding: 2px 10px;
    background: #37BC98;
    color: #fff;
    border-radius: 1px;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.7);
    text-align:center;
}
table.table td .btn.manage:hover {
    background: #2e9c81;
}

.direction{
    direction:rtl;
    
}
.header{
    background-color: #ffffff;
    color: #10b4f5;
    z-index: 6;
    text-align:center;
    font-size: 15px;
    
}

.header10{
    background-color: #ffffff;
    color: #10b4f5;
    z-index: 6;
    text-align:center;
    font-size: 10px;
    
}
.header1{
    background-color: transparent;
    text-align:center;
    font-size: 15px;
    padding: 2px 10px;
    
}
.child1{
    width:2px
}

.show{
    background-color: #ffffff;
    color: #080808;
    
    
}
.showHidden{
    display:none
    
}

.button{
    background-color: transparent;
    border: none;
    color:#2196f3;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
   
}
.button1{
    font: inherit;
    cursor: pointer;
    background-color: #0ec2e2;
    border: 1px solid #0ec2e2;
    color: black;
    padding: 0.1rem 5rem;
    border-radius: 20px;
    font-weight: bold;
   
   
}
.button1:hover,
.button1:active {
    color: white;
  background-color: #0ec2e2;
  border-color: #04cebd;
}

.input1{
    width: 100px;
    text-align:center;

}

.header2{
    background-color: #ffffff;
    color: #256ce1;
    z-index: 6;
    text-align:center;
    font-size: 15px;
    
    
}
.header5{
    color: transparent;
    background-color: transparent;
    border-color:transparent;
    border-bottom: 1px solid red;
    
   
    
    
}
.header6{
    background: #db1313;
    color: #ff0000;
    z-index: 6;
    text-align:center;
    font-size: 15px;
    
    
}

.row1{
    margin-top:-2%;
    margin-bottom:2%;
}

.row101{
    margin-top:2%;
    margin-right:2%;
}